@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

html {
  height: 100%;
  width: 100%;
}
  


body {
  height: 100%;
  width: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

.bg-custom{
  background: linear-gradient(154deg, #E0F7A1, #fff);
}

/* pdf look page*/

.pdf-page {
  width: 794px;
  /* A4 width in pixels @96dpi */
  margin: 0 auto;
  box-sizing: border-box;
  padding: 6rem 4rem;
  background: white;
  overflow: hidden;
  page-break-after: always;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.present {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.dot-carousel {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--foreground);
  color: var(--foreground);
  box-shadow: 9984px 0 0 0 var(--foreground), 9999px 0 0 0 var(--foreground), 10014px 0 0 0 var(--foreground);
  animation: dot-carousel 1.5s infinite linear;
}

@keyframes dot-carousel {
  0% {
    box-shadow: 9984px 0 0 -1px var(--foreground), 9999px 0 0 1px var(--foreground), 10014px 0 0 -1px var(--foreground);
  }

  50% {
    box-shadow: 10014px 0 0 -1px var(--foreground), 9984px 0 0 -1px var(--foreground), 9999px 0 0 1px var(--foreground);
  }

  100% {
    box-shadow: 9999px 0 0 1px var(--foreground), 10014px 0 0 -1px var(--foreground), 9984px 0 0 -1px var(--foreground);
  }
}